html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  height: auto;
  position: relative;
  padding: 0;
  margin: 0;
}

.red {
  color: red;
  font-size: 15px;
  font-weight: bold;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.close::after,
.close::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 3px;
  background-color: black;
}

.close::after {
  transform: rotate(45deg);
}

.close::before {
  transform: rotate(-45deg);
}

.close:hover::after,
.close:hover::before {
  background-color: red;
  cursor: pointer;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
}

.page-footer {
  padding-left: 20px;
  padding-right: 20px;
  background: #333;
  color: #bfbfbf;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  color:  white;
}

.modal-wrapper {
  position: absolute;
  padding: 20px;
  width: 650px;
  height: 650px;
  border: 1px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  font-size: 15px;
}

.login,
.password {
  display: block;
  margin-bottom: 10px;
}

.modal {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999;
  top: 0;
  left: 0;
}

.modal-select {
  margin: 0 auto;
  margin-bottom: 20px;
}

.show {
  display: block;
}

.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip::after {
  content: 'required field';
  font-size: 15px;
  position: absolute;
  top: 0;
  right: -115px;
  height: 20px;
  width: 100px;
  border: 1px solid red;
  line-height: 20px;
  padding-left: 5px;
}

.tooltip::before {
  content: '';
  position: absolute;
  top: 5px;
  right: -8px;
  border: 5px solid red;
  border-left-width: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.page-footer a {
  color: white;
}

.page-footer a:hover {
  color: lightBlue;
}

.buttons-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  text-align: center;
}

.page-header {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  padding-top: 5px;
}

.sign-in,
.user-name {
  margin-left: 10px;
  float: right;
}

.button,
.user-name {
  display: inline-block;
  height: 40px;
  padding: 0 15px;
  border: 1px solid black;
  line-height: 40px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.add-news {
  margin-right: 10px;
}

.add-news:hover,
.button:hover {
  cursor: pointer;
  background-color: lightBlue;
}

.news-wrapper {
  position: relative;
  margin: 0 auto;
  width: 90%;
  min-height: 400px;
}

.news {
  position: relative;
  display: inline-block;
  width: 45%;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 15px;
}

.news:nth-child(2n-1) {
  float: right;
}

.news:nth-child(2n) {
  float: left;
}

.edit-news:hover,
.remove-news:hover,
.news-btn:hover {
  box-shadow: 0px 0px 20px 0px lightBlue;
  cursor: pointer;
}

.news-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  text-align: center;
  padding-top: 75px;
  border-left: 1px solid black;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
}

.input-wrapper {
  margin-bottom: 10px;
  font-size: 15px;
}

.input-wrapper input {
  margin-left: 10px;
}

textarea {
  margin-bottom: 15px;
  resize: none;
}

select {
  vertical-align: top;
}

.bar {
  display: inline-block;
  width: 20px;
  height: 40px;
  background-color: lightGrey;
  margin-right: 10px;
}

.loading-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-bar-1 {
  animation-name: load;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

.loading-bar-2 {
  animation-name: load;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.loading-bar-3 {
  animation-name: load;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
}

.loading-bar-4 {
  animation-name: load;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes load {
  0% {
    transform: scale(1.2);
  }
  25% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.button-box {
  position: absolute;
  height: 100%;
  top: 0;
  right: 50px;
}

.edit-news,
.remove-news {
  display: block;
  padding-top: 30px;
  height: 50%;
  width: 80px;
  border-left: 1px solid black;
  font-weight: bold;
  text-align: center;
}

.edit-news {
  border-bottom: 1px solid black;
}

.news p {
  width: 80%;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}